@model ML.Materia
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <select>
        <option value="1">Administrador</option>
        <option value="1">Cliente</option>
    </select>

    @using (Html.BeginForm("Form", "Materia", FormMethod.Post))
    {
        <div class="row">
            <div class="col-md-6 d-none">
                @Html.LabelFor(model => model.IdMateria, new { @class = "" })
                @Html.TextBoxFor(model => model.IdMateria, new { @class = "form-control hidden" })
            </div>
            <div class="col-md-6">

                @Html.LabelFor(model => model.Nombre)
                @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
            </div>
            <div class="col-md-6">
                @Html.LabelFor(model => model.Creditos)
                @Html.TextBoxFor(model => model.Creditos, "{0:#.#}", new { @class = "form-control" })
            </div>
            <div class="col-md-6 mt-2">
                @Html.LabelFor(model => model.Costo)
                @Html.TextBoxFor(model => model.Costo, "{0:#.#}", new { @class = "form-control" })
            </div>

            <div class="col-md-6 mt-2">
                @Html.LabelFor(model => model.Semestre.IdSemestre)
                @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Seleccione un semestre", new { @class = "form-control" })
 
            </div>

        </div> @*Padding top vs margin*@
        <div class="row mt-3">
            <div class="col-md-6">

                <button type="submit" class="btn btn-success">Guardar</button>
            </div>

            <div class="col-md-6">
                @Html.ActionLink("Regresar", "GetAll", "Materia", new { @class = "btn btn-danger" })
            </div>
        </div>


    }



</div>
