@model ML.Materia
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">

    <div class="row">
        @using (Html.BeginForm("Form", "Materia", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            //arreglo de bytes -> varbinary
            <div class="col-md-4">
                <div class="col-md-12 d-none">
                    @Html.LabelFor(model => model.IdMateria, new { @class = "" })
                    @Html.TextBoxFor(model => model.IdMateria, new { @class = "form-control hidden" })
                </div>

                <div class="col-md-12">
                    @Html.LabelFor(model => model.Nombre)
                    @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(model => model.Creditos)
                    @Html.TextBoxFor(model => model.Creditos, "{0:#.#}", new { @class = "form-control" })
                </div>

            </div>
            <div class="col-md-4">
                <div class="col-md-12 mt-2">
                    @Html.LabelFor(model => model.Costo)
                    @Html.TextBoxFor(model => model.Costo, "{0:#.#}", new { @class = "form-control" })
                </div>

                <div class="col-md-12 mt-2">
                    @Html.LabelFor(model => model.Semestre)
                    @Html.DropDownListFor(model => model.Semestre.IdSemestre, new SelectList(Model.Semestre.Semestres, "IdSemestre", "Nombre"), "Seleccione un semestre", new { @class = "form-control" })

                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6">

                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>

                <div class="col-md-6">
                    @Html.ActionLink("Regresar", "GetAll", "Materia", new { @class = "btn btn-danger" })
                </div>
            </div>


        }

        @using (Html.BeginForm("AddImagen", "Materia", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model=> model.IdMateria)
            <div class="col-md-4">
                <div class="col-md-6 mt-2">
                    <img src="~/Img/UserDefault.png" id="imgMateria" width="150px" height="150px" />
                    <input type="file" name="imgMateriaInput" onchange="PrevisualizarImagen(event)" />
                    @Html.TextBoxFor(model => model.ImagenMateria.Descripcion, new { placeholder = "Ingresa la descripción de la imagen", @class = "form-control" })
                </div>

                @if (Model.ImagenMateria.ImagenesMaterias != null)
                {
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>IdImagenMateria</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th>Archivo</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>

                        <tbody>

                            @foreach (ML.ImagenMateria materiaImagen in Model.ImagenMateria.ImagenesMaterias)
                            {
                                <tr>
                                    <th>@materiaImagen.IdImagenMateria</th>
                                    <th>@materiaImagen.Nombre</th>
                                    <td>@materiaImagen.Descripcion</td>
                                    <td>
                                        <img height="200px" width="200px" src="data:image/png;base64,@Convert.ToBase64String(materiaImagen.Imagen)" />
                                    </td>

                                    <td>
                                        <a href="@Url.Action("DeleteImagen","Materia", new { IdImagenMateria = materiaImagen.IdImagenMateria })" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar la imagen')">
                                            <i class="bi bi-trash"></i>
                                            Eliminar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }


            </div>

            <div class="row mt-3">
                <div class="col-md-6">

                    <button type="submit" class="btn btn-info">Subir Imagen</button>
                </div>
            </div>

        }


    </div>




</div>

<script type="text/javascript">
    function PrevisualizarImagen(event) {
        var output = document.getElementById('imgMateria');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    }
</script>
