@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("+", "Form", "Materia", new { IdMateria = 0 }, new { @class = "btn btn-success" })
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">

            @if (Model.Materias != null)
            {


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th>IdMateria</th>
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Costo</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (ML.Materia materia in Model.Materias)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-warning" href="@Url.Action("Form", "Materia", new { IdMateria = materia.IdMateria })">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325" />
                                        </svg>
                                    </a>
                                </td>
                                <td>@materia.IdMateria</td>
                                <td>@materia.Nombre</td>
                                <td>@materia.Creditos</td>
                                <td>@materia.Costo</td>
                                <td>


                                    @*<a href="@Url.Action("Delete","Materia", new { IdMateria = materia.IdMateria })" class="btn btn-danger" onclick="return confirm('¿Estás seguro de eliminar la materia?'+ @materia.Nombre)">
                                    <i class="bi bi-trash"></i>
                                    Eliminar
                                    </a>*@


                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="MateriaDelete(@materia.IdMateria, '@materia.Nombre')">
                                        Eliminar
                                    </button>

                                    @*<a class="btn btn-danger" href="@Url.Action("Delete","Materia", new {IdMateria = materia.IdMateria})" onclick="return confirm('Estas seguro de querer eliminar la materia:'+ @materia.Nombre )">
                                            Eliminar
                                        </a>

                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                            Launch demo modal
                                        </button>*@

                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    No existen registros para la tabla Materia. Error: @ViewBag.as1dfghjswdxcvbghnj
                </div>
            }
        </div>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Eliminar Materia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Estas seguro que deseas eliminar la materia: <span id="NombreMateria"></span>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <a id="btnEliminarMateria" href="" class="btn btn-danger">Eliminar</a>
            </div>
        </div>
    </div>
</div>


@Scripts.Render("~/bundles/jquery")
@*<script src="~/Scripts/jquery-3.4.1.min.js"></script>*@
<script>
    function MateriaDelete(IdMateria, NombreMateria) {
        $('#NombreMateria').text(NombreMateria)
        $('#btnEliminarMateria').attr('href','@Url.Action("Delete", "Materia")' + '?IdMateria=' + IdMateria)
    }
</script>