@model ML.Materia
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("+","Form","Materia", new {IdMateria = 0 }, new {@class ="btn btn-success"})
        </div>
    </div>
    <div class="row">

        <div class="col-md-12">

            @if (Model.Materias != null)
            {


                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Editar</th>
                            <th>IdMateria</th>
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Costo</th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (ML.Materia materia in Model.Materias)
                        {
                            <tr>
                                <td>
                                    <a class="btn btn-warning" href="@Url.Action("Form","Materia", new {IdMateria = materia.IdMateria})">
                                        Editar
                                    </a>
                                </td>
                                <td>@materia.IdMateria</td>
                                <td>@materia.Nombre</td>
                                <td>@materia.Creditos</td>
                                <td>@materia.Costo</td>
                            </tr>
                        }


                    </tbody>
                </table>
            }
            else
            {
                <div class="alert alert-danger">
                    No existen registros para la tabla Materia. Error: @ViewBag.as1dfghjswdxcvbghnj
                </div>
            }
        </div>

    </div>

</div>